<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_d330b5b5b2850833c83a753994346ed8 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_d330b5b5b2850833c83a753994346ed8" ></div>
        
</body>
<script>
    
    
            var map_d330b5b5b2850833c83a753994346ed8 = L.map(
                "map_d330b5b5b2850833c83a753994346ed8",
                {
                    center: [20.5937, 78.9629],
                    crs: L.CRS.EPSG3857,
                    zoom: 3,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_c4db5d1e4a2314138ce8b967fa296edd = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_d330b5b5b2850833c83a753994346ed8);
        
    
            var marker_be0ca3b6f703cf506b7087ad46396e11 = L.marker(
                [30.0444, 31.2357],
                {}
            ).addTo(map_d330b5b5b2850833c83a753994346ed8);
        
    
        var popup_a18db77c00aeb7a6208bfb287009a2e7 = L.popup({"maxWidth": "100%"});

        
            
                var html_33705b66c2448b17f49f089261034329 = $(`<div id="html_33705b66c2448b17f49f089261034329" style="width: 100.0%; height: 100.0%;">Hint: This question might be related to Cairo! 🌍</div>`)[0];
                popup_a18db77c00aeb7a6208bfb287009a2e7.setContent(html_33705b66c2448b17f49f089261034329);
            
        

        marker_be0ca3b6f703cf506b7087ad46396e11.bindPopup(popup_a18db77c00aeb7a6208bfb287009a2e7)
        ;

        
    
    
            marker_be0ca3b6f703cf506b7087ad46396e11.bindTooltip(
                `<div>
                     Hint for Q1
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f937b7cf3dcb6f9627ceafa13cc34d1a = L.marker(
                [48.8566, 2.3522],
                {}
            ).addTo(map_d330b5b5b2850833c83a753994346ed8);
        
    
        var popup_ed4673cae6d8b14744cc6c273e201c76 = L.popup({"maxWidth": "100%"});

        
            
                var html_13578b6e0dd7932612816535f3a067c3 = $(`<div id="html_13578b6e0dd7932612816535f3a067c3" style="width: 100.0%; height: 100.0%;">Hint: This question might be related to Paris! 🌍</div>`)[0];
                popup_ed4673cae6d8b14744cc6c273e201c76.setContent(html_13578b6e0dd7932612816535f3a067c3);
            
        

        marker_f937b7cf3dcb6f9627ceafa13cc34d1a.bindPopup(popup_ed4673cae6d8b14744cc6c273e201c76)
        ;

        
    
    
            marker_f937b7cf3dcb6f9627ceafa13cc34d1a.bindTooltip(
                `<div>
                     Hint for Q2
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_978b23b330df610d525cf0cf2c288760 = L.marker(
                [-33.8688, 151.2093],
                {}
            ).addTo(map_d330b5b5b2850833c83a753994346ed8);
        
    
        var popup_cd083c398894fb2bbbaadf18bea4b7ac = L.popup({"maxWidth": "100%"});

        
            
                var html_b6e7e54a49fcde6ff00cae63e31392b8 = $(`<div id="html_b6e7e54a49fcde6ff00cae63e31392b8" style="width: 100.0%; height: 100.0%;">Hint: This question might be related to Sydney! 🌍</div>`)[0];
                popup_cd083c398894fb2bbbaadf18bea4b7ac.setContent(html_b6e7e54a49fcde6ff00cae63e31392b8);
            
        

        marker_978b23b330df610d525cf0cf2c288760.bindPopup(popup_cd083c398894fb2bbbaadf18bea4b7ac)
        ;

        
    
    
            marker_978b23b330df610d525cf0cf2c288760.bindTooltip(
                `<div>
                     Hint for Q3
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4e35de9ad9af5c123282c4aa1dc0bdde = L.marker(
                [-33.8688, 151.2093],
                {}
            ).addTo(map_d330b5b5b2850833c83a753994346ed8);
        
    
        var popup_19623c87ebbb968fd8b913bcdd5304c0 = L.popup({"maxWidth": "100%"});

        
            
                var html_ffe39621de7b65d0938c7fbe7d754266 = $(`<div id="html_ffe39621de7b65d0938c7fbe7d754266" style="width: 100.0%; height: 100.0%;">Hint: This question might be related to Sydney! 🌍</div>`)[0];
                popup_19623c87ebbb968fd8b913bcdd5304c0.setContent(html_ffe39621de7b65d0938c7fbe7d754266);
            
        

        marker_4e35de9ad9af5c123282c4aa1dc0bdde.bindPopup(popup_19623c87ebbb968fd8b913bcdd5304c0)
        ;

        
    
    
            marker_4e35de9ad9af5c123282c4aa1dc0bdde.bindTooltip(
                `<div>
                     Hint for Q4
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3edef8047a56924bddf0600483c81ede = L.marker(
                [35.6895, 139.6917],
                {}
            ).addTo(map_d330b5b5b2850833c83a753994346ed8);
        
    
        var popup_4585aef5b8740d5db9794b5a7cd5a371 = L.popup({"maxWidth": "100%"});

        
            
                var html_ef5dad5e19047af9046f41d3167f48b8 = $(`<div id="html_ef5dad5e19047af9046f41d3167f48b8" style="width: 100.0%; height: 100.0%;">Hint: This question might be related to Tokyo! 🌍</div>`)[0];
                popup_4585aef5b8740d5db9794b5a7cd5a371.setContent(html_ef5dad5e19047af9046f41d3167f48b8);
            
        

        marker_3edef8047a56924bddf0600483c81ede.bindPopup(popup_4585aef5b8740d5db9794b5a7cd5a371)
        ;

        
    
    
            marker_3edef8047a56924bddf0600483c81ede.bindTooltip(
                `<div>
                     Hint for Q5
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_eedb72fb31daa2232db035a180d27126 = L.marker(
                [0.0, 0.0],
                {}
            ).addTo(map_d330b5b5b2850833c83a753994346ed8);
        
    
        var popup_66dd9e38d9d01482b9e5d280cd8645f9 = L.popup({"maxWidth": "100%"});

        
            
                var html_a7c84b7ecf954f8a8859d880571a5326 = $(`<div id="html_a7c84b7ecf954f8a8859d880571a5326" style="width: 100.0%; height: 100.0%;">Rounds Played: 0, Score: 0 🎯</div>`)[0];
                popup_66dd9e38d9d01482b9e5d280cd8645f9.setContent(html_a7c84b7ecf954f8a8859d880571a5326);
            
        

        marker_eedb72fb31daa2232db035a180d27126.bindPopup(popup_66dd9e38d9d01482b9e5d280cd8645f9)
        ;

        
    
    
            marker_eedb72fb31daa2232db035a180d27126.bindTooltip(
                `<div>
                     Your Score
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a59f21053426a77d301799efcd7c9578 = L.marker(
                [10.0, 0.0],
                {}
            ).addTo(map_d330b5b5b2850833c83a753994346ed8);
        
    
        var popup_5edc9e0b2000fbfcef2c3f1c4c36f1c4 = L.popup({"maxWidth": "100%"});

        
            
                var html_783738b9446cb766b1583caaab4db6cc = $(`<div id="html_783738b9446cb766b1583caaab4db6cc" style="width: 100.0%; height: 100.0%;">Made by: Tek Narayan Yadav, Shivam Sharma, Abhishek Kumar Singh</div>`)[0];
                popup_5edc9e0b2000fbfcef2c3f1c4c36f1c4.setContent(html_783738b9446cb766b1583caaab4db6cc);
            
        

        marker_a59f21053426a77d301799efcd7c9578.bindPopup(popup_5edc9e0b2000fbfcef2c3f1c4c36f1c4)
        ;

        
    
    
            marker_a59f21053426a77d301799efcd7c9578.bindTooltip(
                `<div>
                     Credits 🏆
                 </div>`,
                {"sticky": true}
            );
        
</script>
</html>