<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_48966526f67e9d81ee5b7af69d49a21a {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_48966526f67e9d81ee5b7af69d49a21a" ></div>
        
</body>
<script>
    
    
            var map_48966526f67e9d81ee5b7af69d49a21a = L.map(
                "map_48966526f67e9d81ee5b7af69d49a21a",
                {
                    center: [20.5937, 78.9629],
                    crs: L.CRS.EPSG3857,
                    zoom: 3,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_c343fe1c73383d66fe2493a6000f6b1a = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_48966526f67e9d81ee5b7af69d49a21a);
        
    
            var marker_71fe315a77f0ed8da6871a3dfc73711b = L.marker(
                [48.8566, 2.3522],
                {}
            ).addTo(map_48966526f67e9d81ee5b7af69d49a21a);
        
    
        var popup_e9c16cecfecd118d6767706c2a5dd247 = L.popup({"maxWidth": "100%"});

        
            
                var html_9954a91c943e1ca0936b7fc3ec87696a = $(`<div id="html_9954a91c943e1ca0936b7fc3ec87696a" style="width: 100.0%; height: 100.0%;">Hint: This question might be related to Paris! 🌍</div>`)[0];
                popup_e9c16cecfecd118d6767706c2a5dd247.setContent(html_9954a91c943e1ca0936b7fc3ec87696a);
            
        

        marker_71fe315a77f0ed8da6871a3dfc73711b.bindPopup(popup_e9c16cecfecd118d6767706c2a5dd247)
        ;

        
    
    
            marker_71fe315a77f0ed8da6871a3dfc73711b.bindTooltip(
                `<div>
                     Hint for Q1
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_bccfacb1aedd699942dd93163473e8da = L.marker(
                [48.8566, 2.3522],
                {}
            ).addTo(map_48966526f67e9d81ee5b7af69d49a21a);
        
    
        var popup_71d55f746d59e0a7da02e7fd8f3b3262 = L.popup({"maxWidth": "100%"});

        
            
                var html_6a14e0dae3daca30372e17d9adfc1f74 = $(`<div id="html_6a14e0dae3daca30372e17d9adfc1f74" style="width: 100.0%; height: 100.0%;">Hint: This question might be related to Paris! 🌍</div>`)[0];
                popup_71d55f746d59e0a7da02e7fd8f3b3262.setContent(html_6a14e0dae3daca30372e17d9adfc1f74);
            
        

        marker_bccfacb1aedd699942dd93163473e8da.bindPopup(popup_71d55f746d59e0a7da02e7fd8f3b3262)
        ;

        
    
    
            marker_bccfacb1aedd699942dd93163473e8da.bindTooltip(
                `<div>
                     Hint for Q2
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ceeb229211b2ea8b7b57fcb714c88a78 = L.marker(
                [48.8566, 2.3522],
                {}
            ).addTo(map_48966526f67e9d81ee5b7af69d49a21a);
        
    
        var popup_380d5d582bf1d164f22254bcce8f374d = L.popup({"maxWidth": "100%"});

        
            
                var html_952f9272d634367051d23a210045616b = $(`<div id="html_952f9272d634367051d23a210045616b" style="width: 100.0%; height: 100.0%;">Hint: This question might be related to Paris! 🌍</div>`)[0];
                popup_380d5d582bf1d164f22254bcce8f374d.setContent(html_952f9272d634367051d23a210045616b);
            
        

        marker_ceeb229211b2ea8b7b57fcb714c88a78.bindPopup(popup_380d5d582bf1d164f22254bcce8f374d)
        ;

        
    
    
            marker_ceeb229211b2ea8b7b57fcb714c88a78.bindTooltip(
                `<div>
                     Hint for Q3
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9e69ec88da1fc3863bad4b745e7d0cf7 = L.marker(
                [-33.8688, 151.2093],
                {}
            ).addTo(map_48966526f67e9d81ee5b7af69d49a21a);
        
    
        var popup_fd2069506d7fbcbc76f09b51e5dbace0 = L.popup({"maxWidth": "100%"});

        
            
                var html_dfaefc448a65697ec24778aea7639e95 = $(`<div id="html_dfaefc448a65697ec24778aea7639e95" style="width: 100.0%; height: 100.0%;">Hint: This question might be related to Sydney! 🌍</div>`)[0];
                popup_fd2069506d7fbcbc76f09b51e5dbace0.setContent(html_dfaefc448a65697ec24778aea7639e95);
            
        

        marker_9e69ec88da1fc3863bad4b745e7d0cf7.bindPopup(popup_fd2069506d7fbcbc76f09b51e5dbace0)
        ;

        
    
    
            marker_9e69ec88da1fc3863bad4b745e7d0cf7.bindTooltip(
                `<div>
                     Hint for Q4
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_df14d289fbc04ddb06cc2e36356f4340 = L.marker(
                [35.6895, 139.6917],
                {}
            ).addTo(map_48966526f67e9d81ee5b7af69d49a21a);
        
    
        var popup_bf3efd7fe882b5ecade890b9b03a0ebb = L.popup({"maxWidth": "100%"});

        
            
                var html_8e036445858375725c92c9e0af69775e = $(`<div id="html_8e036445858375725c92c9e0af69775e" style="width: 100.0%; height: 100.0%;">Hint: This question might be related to Tokyo! 🌍</div>`)[0];
                popup_bf3efd7fe882b5ecade890b9b03a0ebb.setContent(html_8e036445858375725c92c9e0af69775e);
            
        

        marker_df14d289fbc04ddb06cc2e36356f4340.bindPopup(popup_bf3efd7fe882b5ecade890b9b03a0ebb)
        ;

        
    
    
            marker_df14d289fbc04ddb06cc2e36356f4340.bindTooltip(
                `<div>
                     Hint for Q5
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_92fda0061c0a00843673fce13949ef07 = L.marker(
                [0.0, 0.0],
                {}
            ).addTo(map_48966526f67e9d81ee5b7af69d49a21a);
        
    
        var popup_6064d3ce58e2d8c65e31cf4817bc11cb = L.popup({"maxWidth": "100%"});

        
            
                var html_e6630ee233fa741cf18f7ccef56e5bb9 = $(`<div id="html_e6630ee233fa741cf18f7ccef56e5bb9" style="width: 100.0%; height: 100.0%;">Rounds Played: 0, Score: 0 🎯</div>`)[0];
                popup_6064d3ce58e2d8c65e31cf4817bc11cb.setContent(html_e6630ee233fa741cf18f7ccef56e5bb9);
            
        

        marker_92fda0061c0a00843673fce13949ef07.bindPopup(popup_6064d3ce58e2d8c65e31cf4817bc11cb)
        ;

        
    
    
            marker_92fda0061c0a00843673fce13949ef07.bindTooltip(
                `<div>
                     Your Score
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d37f13177815f42e63a5aa6815227c91 = L.marker(
                [10.0, 0.0],
                {}
            ).addTo(map_48966526f67e9d81ee5b7af69d49a21a);
        
    
        var popup_af0aea8c09c2adfb2f065e6126c2e661 = L.popup({"maxWidth": "100%"});

        
            
                var html_213556250fa8702cd255b7bc9e680581 = $(`<div id="html_213556250fa8702cd255b7bc9e680581" style="width: 100.0%; height: 100.0%;">Made by: Tek Narayan Yadav, Shivam Sharma, Abhishek Kumar Singh</div>`)[0];
                popup_af0aea8c09c2adfb2f065e6126c2e661.setContent(html_213556250fa8702cd255b7bc9e680581);
            
        

        marker_d37f13177815f42e63a5aa6815227c91.bindPopup(popup_af0aea8c09c2adfb2f065e6126c2e661)
        ;

        
    
    
            marker_d37f13177815f42e63a5aa6815227c91.bindTooltip(
                `<div>
                     Credits 🏆
                 </div>`,
                {"sticky": true}
            );
        
</script>
</html>